<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Brainchild Festival 2015</title>
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/favicon-152.png">
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<meta name="description" content="Brainchild is a young arts organisation dedicated to celebrating and developing creativity.">
		<meta property="og:site_name" content="Brainchild"/>
		<meta property="og:image" content="/img/favicons/favicon-152.png">
		<meta property="og:url" content="http://www.brainchildarts.co.uk/"/>
		<meta name="twitter:creator" value="@BrainchildFest" />
		<meta property="og:description" content="Brainchild is a young arts organisation dedicated to celebrating and developing creativity." />
		<script src="js/modernizr.custom.js"></script>
		<link rel="stylesheet" href="css/style.min.css">
	</head>
	<body>
		<header class="site-header">
			<video id="video_background" class="billboard headervideo" preload="auto" autoplay="autoplay" loop="loop" poster="/img/background/video-poster.jpg">
				<!-- <source src="video/bc-highlights-mute.ogv" type="video/ogv"> -->
				<!-- <source src="video/bc-highlights-mute.webm" type="video/webm"> -->
				<source src="video/bc-highlights-mute.mp4" type="video/mp4">
			</video>
			<img class="video-img billboard" src="/img/background/video-poster.jpg">
 			<div class="splash">
				<h1 class="logo">Brainchild</h1>
				<p>3-5 July 2015</p>
				<nav class="site-nav">
					<a href="#about">About</a>//
					<a href="#lineup">Lineup</a>//
					<a href="#events">Events</a>//
					<a href="#friends">Friends</a>//
					<a href="#gallery">Gallery</a>//
					<a href="#getinvolved">Get Involved</a>
				</nav>
			</div>
		</header>
		<section id="about" class="inner-wrap">
			<p class="welcome-txt">Welcome to Branchild. We are a Festival dedicated to sharing ideas and developing creativity. We believe in art and performance that is experimental and collaborative and ideas that are progressive.</p>
			<div class="tabs" id="tabs">
				<ul class="tabs-ul about-tabs">
					<li class="tab" id="default-tab"><a href="#story">Story</a></li>
					<li class="tab default-tab"><a href="#manifesto">Manifesto</a></li>
					<li class="tab"><a href="#team">Team</a></li>
				</ul>
				<div id="team" class="columns">
						<p>Brainchild is run by a team of passionate volunteers. Over the last two festivals, both artists and organisers have been incredibly generous and enthusiastic about sharing their work and time. Whether it&rsquo;s driving vans, making zines, assembling fencing, lending kit, spending endless hours on photoshop, flyering or spreading the love - it's an almighty team effort.</p>

						<p>The management and festival production are mainly undertaken by Marina Blake, Jerome Toole, Joey Valiunas, Rosie Skan, Isabel Adomakoh-Young, Zoe Hunter Gordon and Sarah Wilson. The programming for the festival and our events is collaborative, and obviously whilst contributing hugely to the fesitval in many ways, the main programmers are Luke Newman (music), Bridget Minamore (poetry), Zoe + Rosie (theatre), Lily Bonesso (installations), Louise Colgan (dance music), Georgia Spencer-Davison (films) and Jerome + Marina (music, talks, workshops and other projects).</p>

						<p>Great bundles of thanks and credit must also go out to a whole host of individuals who&rsquo;ve contributed in a big, unquantifiable way over time. Thank you Ellen Spence, Sanjay Poyzer, Ed Ive, Erica McKoy, Phoebe Douglas, Rachel Hannah, Rachel Tookey, Tom Benn, Joel Chima (Crack In The Road), Andrew Hulme (Werdna), Josie Tucker and Joe Melhuish for their support in marketing, programming, film production, artwork and more.

					</div>

					<div id="story" class="columns">
						<p>Everything began three years ago, when a few of us got to university and started taking in all the amazing things that our friends were doing. Whether that was illustration, poetry, setting up journals or organising talks, it seemed that people were finding inspiration, and we wanted to build a platform and a space that allowed these ideas and these passions to flourish. Just as significant was the realisation that everyone was ready for the apparently near-impossible challenge of making a festival. And after that, the project just found wings.</p>

						<p>We started planning our first festival in December 2011, when, amidst endless arts cuts, we wanted to show each other that realising our creative ambitions was still possible. Surprisingly enough, within six months we managed it - we pulled together to make the festival with a fantastic program of talks, workshops, music and poetry on an incredibly shoe-string budget. Part of what we realised had made it so special was not only the intimacy but the transparency of the festival process, both online and over the weekend itself. Most of us were still teenagers at the shallow end of a learning curve, but the support we received from our artists and audience turned the event into something far bigger than ourselves.</p>

						<p>Although we hadn&apos;t initially seen this as something ongoing, it was obvious after the first one that we&rsquo;d do it again. For our second festival, we found a new site in Canterbury and some amazing new people to work with: the community that was developing around the then open-mic night Steez, in Honor Oak. Working with these musicians and poets, and many other artists in theatre, film and installations from universities across the country, we constructed a temporary world in a sunny field where for 700 people, enthusiasm, collaboration and conversation seemed to reverberate everywhere. It was an unforgettable, incredibly sun-burnt weekend, and we could all sense that a tangible community was taking shape around this project.</p>

						<p>Brainchild continues to thrive because of the love and investment of all who attend and the legacy of many collaborations and projects that have taken root there. And now, having had to miss a year to finish our various degrees, we are starting to build up to Brainchild Festival #3, in July 2015, and cannot wait to meet all the exciting people who will be part of it.</p>

					</div>

					<div id="manifesto" class="columns">
						<p class="big-txt">We are an arts organisation dedicated to sharing ideas and developing creativity. Our central project is Brainchild Festival, a three-day camping festival that welcomes arts and ideas across all disciplines and keeps collaboration and experimentation at its forefront.</p>

						<p>Run entirely by volunteers, everybody mucks in - dedicating long, hard hours to build an intimate community space including four stages, installations, camping area and bar, all beautifully decorated by resident artists.</p>

						<p>Our work aims to:
							<ul>
								<li>Develop creativity through participation and collaboration.</li>
								<li>Engage with progressive ideas from any discipline.</li>
								<li>Share visions for a more sustainable and compassionate society.</li>
								<li>Explore the creative process, not just the finished product.</li>
								<li>Build a useful network for artists and individuals to work together beyond the festival.</li>
							</ul>
						</p>

						<p>Within our little festival, we see a fantastic opportunity for everyone to try out new things, find inspiration and to connect with the others. We think opening up dialogue and providing opportunities for collaboration are important, so everyone camps together and we try to blur the divisions between audiences and performers as far as possible.</p>

						<p>We are now building the momentum for our third festival and investing time into achieving our aims through other, year-round projects. Whether it&rsquo;s through jamming at the Steez Cafe, taking part in open-mics, making installations or volunteering as part of the build/break team, our events are full of opportunities and we can&rsquo;t wait to meet everyone who&rsquo;ll be part of it. </p>
					</div>
					</div>
		</section>
		<section id="lineup">
			<h2>Lineup</h2>
			<div class="tabs" id="tabs">
				<ul class="tabs-ul">
					<li class="tab default-tab"><a href="#fest2015">2015</a></li>
					<li class="tab"><a href="#fest2013">2013</a></li>
					<li class="tab"><a href="#fest2012">2012</a></li>
				</ul>
				<div id="fest2015" class="lineup-image">
					<p class="big-txt">We are only just getting planning this festival so no confirmed line-up for now! But if you’d like to get involved in any way - to make something or perform something - stay tuned to our <a href="https://fb.com/BrainchildArts">Facebook page</a> and emails as we’ll be publicising opportunities soon, or send us an email if you can&rsquo;t wait. We are also beginning to take submissions for film and theatre, please check our 'Get Involved' section to find out more.</p>
				</div>

				<div id="fest2013" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc13front.jpg" alt="Brainchild 2013 Poster">
						<img src="img/contents/bc13back.jpg" alt="Brainchild 2013 Poster">
					</div>
				</div>

				<div id="fest2012" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc12poster.jpg" alt="Brainchild 2012 Poster">
					</div>
				</div>
			</div>

		</section>
		<section id="events">
			<h2>Events</h2>
			<div class="tabs" id="tabs">
				<ul class="tabs-ul events-tabs">
					<li class="tab default-tab"><a href="#past">Past</a></li>
					<li class="tab"><a href="#upcoming">Upcoming</a></li>
				</ul>
				<div id="past">
					<div class="tiles">
						{{#each events.events}}
							{{#is past true}}
								<div class="tile" style="background-image: url({{image}})" data-img="{{image}}" data-title="{{name}}" data-desc="{{bio}}">
									<a href="#">
										<h3 class="tile__heading">{{name}}</h3>
									</a>
								</div>
							{{/is}}
						{{/each}}
					</div>
				</div>
				<div id="upcoming">
					<div class="tiles">
						{{#each events.events}}
							{{#is past false}}
								<div class="tile" style="background-image: url({{image}})" data-img="{{image}}" data-title="{{name}}" data-desc="{{bio}}">
									<a href="#">
										<h3 class="tile__heading">{{name}}</h3>
									</a>
								</div>
							{{/is}}
						{{/each}}
					</div>
				</div>
			</div>
		</section>
		<section id="friends">
			<h2>Friends</h2>
			<div class="tiles">
			{{#each friends.friends}}
				<div class="tile" style="background-image: url({{image}})" data-img="{{image}}" data-title="{{name}}" data-desc="{{bio}}">
					<a href="#">
						<h3 class="tile__heading">{{name}}</h3>
					</a>
				</div>
			{{/each}}
			</div>
		</section>
		<section id="gallery" class="gallery">
			<h2>Gallery</h2>
			<ul class="bxslider">
			  <li><img src="img/gallery/1.jpg" alt="" title="Tie-dye lovin&apos;, 2013"></li>
			  <li><img src="img/gallery/2.jpg" alt="" title="The Braindome, 2013"></li>
			  <li><img src="img/gallery/3.jpg" alt="" title="Brainchildren at Lee Fest"></li>
			  <li><img src="img/gallery/4.jpg" alt="" title="Slam, Brainchild 2013 fundraiser"></li>
			  <li><img src="img/gallery/6.jpg" alt="" title="My Panda Shall Fly, 2013"></li>
			  <li><img src="img/gallery/8.jpg" alt="" title="&apos;The Hive&apos;, 2013"></li>
			  <li><img src="img/gallery/9.jpg" alt="" title="Brainchild 2013"></li>
			  <li><img src="img/gallery/10.jpg" alt="" title="The Cave, 2013"></li>
			</ul>
		</section>


		<section id="getinvolved" class="getinvolved inner-wrap">
			<h2>Get Involved</h2>

			<div class="tabs" id="tabs">
				<ul class="tabs-ul about-tabs">
					<li class="tab default-tab"><a href="#contact">Contact</a></li>
					<li class="tab"><a href="#opportunities">Opportunities</a></li>
				</ul>

				<div id="contact">
					<p class="big-txt">We will soon have specific emails on here for you to message as a performer or a trader, but for now, all general inquiries can be directed to: <a class="contact__email" href="mailto:marina@brainchildfestival.co.uk">marina@brainchildfestival.co.uk</a></p>
				</div>

				<div id="opportunities">
					<p class="big-txt">To submit films and theatre pieces for the 2015 festival, please email Zoe (theatre) or Georgia (film) @brainchildfestival.co.uk</p>

					<p class="big-txt">Please note, although we wish we had a massive money tree for your production, this (tragically) isn&rsquo;t the case. We can offer many things, including a brilliant platform and a community that thrives on collaboration, but sadly cannot offer hardcore financial support.</p>
				</div>
			</div>


			<ul class="social">
				<li><a class="social__facebook" href="https://www.facebook.com/BrainchildArts">Facebook</a></li>
				<li><a class="social__twitter" href="https://twitter.com/BrainchildFest">Twitter</a></li>
				<li><a class="social__instagram" href="instagram">Instagram</a></li>
			</ul>


			<p>&copy; 2014 Brainchild Festival</p>

		</section>
		<script src="js/scripts.min.js"></script>
	</body>
</html>
