<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Brainchild Festival 2015</title>
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/favicon-152.png">
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<meta name="description" content="Brainchild Festival is a 3-day, multi-arts festival. 10-12 July 2015">
		<meta property="og:site_name" content="Brainchild Festival"/>
		<meta property="og:image" content="./img/favicons/favicon-152.png">
		<meta property="og:url" content="http://www.brainchildarts.co.uk/"/>
		<meta name="twitter:creator" value="@BrainchildFest" />
		<meta property="og:description" content="Brainchild Festival is a 3-day, multi-arts festival. 10-12 July 2015" />
		<script src="./modernizr.custom.js"></script>
		<link rel="stylesheet" href="./style.min.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46178608-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<header class="site-header">
			<video id="video_background" class="billboard headervideo" preload="auto" autoplay="autoplay" loop="loop" poster="./img/background/video-poster.jpg">
				<source src="./video/bc-highlights-mute.mp4" type="video/mp4">
			</video>
			<img class="video-img billboard" src="/img/background/video-poster.jpg">
 			<div class="splash">
				<h1 class="logo">Brainchild</h1>
				<p style="margin-bottom: 0;">10-12 July 2015</p>
				<p>Bentley Country Park, East Sussex</p>
				<div class="site-nav-wrap">
					<nav class="site-nav">
						<a href="#about">About</a>//
						<a href="#lineup">Lineup</a>//
						<a href="#events">Events</a>//
						<a href="#friends">Friends</a>//
						<a href="#gallery">Gallery</a>//
            <a href="#tickets">Tickets</a>//
						<a href="#getinvolved">Get Involved</a>
					</nav>
				</div>
			</div>
		</header>
		<section id="about" class="inner-wrap">
			<div class="tabs" id="tabs">
				<ul class="tabs-ul about-tabs">
					<li class="tab" id="default-tab"><a href="#story">Story</a></li>
					<li class="tab default-tab"><a href="#manifesto">Manifesto</a></li>
					<li class="tab"><a href="#team">Team</a></li>
				</ul>

				<div id="manifesto">
						<p class="big-txt">Welcome to Brainchild, our weekend festival with collaboration and experimentation at its heart. We are dedicated to sharing ideas and developing creativity, with a love of art and thinking from all disciplines. We want to bring your ideas and stories to life within the boundless and imaginative space of our festival.</p>

					<div class="columns">
						<p>We started this with a belief that an enormous amount of good can come out of a weekend full of performing arts, talking, dancing and meeting new friends.</p>

						<p>Run entirely by volunteers, everybody mucks in dedicating long, hard hours to build an intimate community space including four stages, installations, camping area and bar, all beautifully decorated by resident artists.</p>

						<p>Our work aims to:</p>
							<ul>
								<li>Develop creativity through participation and collaboration.</li>
								<li>Engage with progressive ideas from any discipline.</li>
								<li>Share visions for a more sustainable and compassionate society.</li>
								<li>Explore the creative process, not just the finished product.</li>
								<li>Build a useful network for artists and individuals to work together beyond the festival.</li>
							</ul>

						<p>We see Brainchild as a fantastic opportunity for people to try out new things, find inspiration and connect with others. Everyone camps together, and we try to blur the divisions between audiences and performers as far as possible.</p>

						<p>We are now building momentum for our third festival; we're excited for our best event yet. Whether it&rsquo;s through jamming at the Steez Cafe, taking part in open-mics, making installations or volunteering as part of the build/break team, our events are full of opportunities and we can&rsquo;t wait to meet everyone who&rsquo;ll be part of it. </p>
					</div>
				</div>

				<div id="team" class="columns">
						<p>Brainchild is run by a team of passionate volunteers. Over the last two festivals, both artists and organisers have been incredibly generous and enthusiastic about sharing their work and time. Whether it&rsquo;s driving vans, making zines, assembling fencing, lending kit, spending endless hours on photoshop, flyering or spreading the love - it's an almighty team effort.</p>

						<p>The management and festival production is mainly undertaken by Marina Blake, Jerome Toole, Joey Valiunas, Rosie Skan, Isabel Adomakoh-Young, Zoe Hunter Gordon and Sarah Wilson. The bulk of the programming is led by Luke Newman (music), Bridget Minamore (poetry), Zoe + Rosie (theatre), Lily Bonesso (installations), Louise Colgan (dance music), Georgia Spencer-Davison (films) and Jerome + Marina (music, talks, workshops and other projects).</p>

						<p>Great bundles of thanks and credit must also go out to a whole host of individuals who&rsquo;ve contributed in a big, unquantifiable way over time. Thank you Ellen Spence, Sanjay Poyzer, Ed Ive, Erica McKoy, Phoebe Douglas, Rachel Hannah, Rachel Tookey, Robbie Wojciechowski, Tom Benn, Joel Chima (Crack In The Road), Andrew Hulme (Werdna), Josie Tucker and Joe Melhuish for their support in marketing, programming, film production, artwork and more.</p>
				</div>

				<div id="story" class="columns">
					<p>Brainchild set out to connect people in a way that larger festivals can't, nurturing collaboration on a personal level. We started planning the first festival in December 2011, when, amidst endless arts cuts, we wanted to show each other that realising our creative ambitions was still possible. Within six months we managed it, pulling together a fantastic program of talks, workshops, music and poetry on an incredibly shoe-string budget. What made it so special was not only the intimacy but the openness of the festival process, both online and over the weekend itself. Most of us were still teenagers at the shallow end of a learning curve, but the support we received from our artists and audience turned the event into something far bigger than ourselves.</p>

					<p>For our second festival, we constructed a temporary world in a sunny field where for 700 people, enthusiasm, creativity and conversation seemed to reverberate everywhere. The event was strengthened by working with some other groups who shared our aims. We worked closely with Steez, the (then) open mic-night in Honor Oak which led to a new space in the bar for improvised and spontaneous collaboration. It was an unforgettable, incredibly sun-burnt weekend, and we could all sense that a tangible community was taking shape around this project.</p>

					<p>Brainchild continues to thrive because of the love and investment of all who attend. It's been exciting to see the legacy of many collaborations and projects that have taken root there. Having had to miss a year to finish our various degrees, we are now working on Brainchild Festival #3, in July 2015, and cannot wait to meet all the exciting people who will be part of it.</p>
				</div>
			</div>

		</section>
		<section id="lineup">
			<h2>Lineup</h2>
			<div class="tabs" id="tabs">
				<ul class="tabs-ul">
					<li class="tab default-tab"><a href="#fest2015">2015</a></li>
					<li class="tab"><a href="#fest2013">2013</a></li>
					<li class="tab"><a href="#fest2012">2012</a></li>
				</ul>
				<div id="fest2015" class="lineup-image">
					<p class="big-txt">Now is the time to get in touch with ideas for the 2015 festival. Whether you're interested in performing, decorating, leading workshops or conga lines - we'd love to hear from you. Check our Get Involved section to find out more, and stay tuned to our <a href="https://fb.com/BrainchildArts">Facebook page</a> and emails for details of opportunities and lineup releases.</p>
					<div class="tiles tiles-small">
					{{#each artists}}
						<a class="tile" href="#" style="background-image: url(http://lorempixel.com/200/200/animals/?ver={{@index}})" data-img="http://lorempixel.com/900/900/animals/?ver={{@index}}" data-title="{{name}}" data-desc="{{bio}}" data-link="{{soundcloud}}">
							<h3 class="tile__heading">{{name}}</h3>
						</a>
					{{/each}}
			</div>
				</div>

				<div id="fest2013" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc13front.jpg" alt="Brainchild 2013 Poster">
						<img src="img/contents/bc13back.jpg" alt="Brainchild 2013 Poster">
					</div>
				</div>

				<div id="fest2012" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc12poster.jpg" alt="Brainchild 2012 Poster">
					</div>
				</div>
			</div>

		</section>
		<section id="events">
			<h2>Events</h2>
				<div class="tiles">
					{{#each events}}
						<div class="tile" style="background-image: url(img/contents/{{image}})" data-img="img/contents/{{image}}" data-title="{{title}}" data-desc="{{desc}}">
							<a href="#">
								<h3 class="tile__heading">{{title}}</h3>
							</a>
						</div>
					{{/each}}
				</div> 
		</section>
		<section id="friends">
			<h2>Friends</h2>
			<div class="tiles">
			{{#each friends}}
				<div class="tile" style="background-image: url(img/contents/{{image}})" data-img="img/contents/{{image}}" data-title="{{title}}" data-desc="{{desc}}" data-link="{{website}}">
					<a href="#">
						<h3 class="tile__heading">{{title}}</h3>
					</a>
				</div>
			{{/each}}
			</div>
		</section>
		<section id="gallery" class="gallery">
			<h2>Gallery</h2>
			<ul class="bxslider">
			  <li><img src="img/gallery/1.jpg" alt="" title="Brainchildren, 2013"></li>
			  <li><img src="img/gallery/2.jpg" alt="" title="Singing Workshop, 2013"></li>
			  <li><img src="img/gallery/3.jpg" alt="" title="The &apos;The Hive&apos; Installation, 2013"></li>
			  <li><img src="img/gallery/4.jpg" alt="" title="Illustrating The Shack, 2013"></li>
			  <li><img src="img/gallery/5.jpg" alt="" title="Dancing at The Shack"></li>
			  <li><img src="img/gallery/6.jpg" alt="" title="My Panda Shall Fly, 2013"></li>
			  <li><img src="img/gallery/7.jpg" alt="" title="Spoken Word at The Forum, 2013"></li>
			  <li><img src="img/gallery/8.jpg" alt="" title="Main Stage, 2013"></li>
			  <li><img src="img/gallery/9.jpg" alt="" title="Brainchildren"></li>
			  <li><img src="img/gallery/10.jpg" alt="" title="The Cave, 2013"></li>
			  <li><img src="img/gallery/11.jpg" alt="" title="Alice Coltrane Ensemble, Steeze Cafe"></li>
			  <li><img src="img/gallery/12.jpg" alt="" title="Open Air Theatre, 2013"></li>
			</ul>
		</section>

		<section id="tickets" class="tickets inner-wrap">
			<h2>Tickets</h2>
			<p class="big-txt">The sooner you buy your tickets, the better we can make the festival...</p>
      <p>We still have some spaces left for volunteers. If you come along and help out, we'll give you half the ticket money back at the end. More info <a href="#" class="info-overlay" data-img="img/contents/{{info.volunteering.image}}" data-title="{{info.volunteering.title}}" data-desc="{{info.volunteering.desc}}">here</a>.</p>
				<!-- Ticket Tailor Widget. -->
					<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="//www.tickettailor.com/new-order/21378/ad81/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="//www.tickettailor.com/new-order/21378/ad81/ref/website_widget/" data-type="inline" data-inline-minimal="true" data-inline-bg-fill="false"></script></div>
				<!-- End of Ticket Tailor Widget -->
		</section>


		<section id="getinvolved" class="getinvolved inner-wrap">
			<h2>Get Involved</h2>
				</ul>
				<div>
					<p class="big-txt">We are currently on the look out for ideas big and small to take place at the festival. Writers, dancers, musicians, filmmakers, artists, thinkers, teachers, drinks mixers, clothes makers, if you feel inspired to bring something along, email us:</p>
						<ul class="contactslist big-txt">
							<li>Theatre: <b>Zoe</b></li>
							<li>Installation &amp; artwork: <b>Lily</b></li>
							<li>Spoken word &amp; talks: <b>Bridget</b></li>
							<li>Film: <b>Georgia</b></li>
							<li>Music: <b>Ben</b></li>
							<li>Traders: <b>Joey</b></li>
							<li>Volunteering: <b>Tomo</b></li>
              <li>Media/Design: <b>Jerome</b></li>
							<li>All other enquiries: <b>Team</b></li>
            </ul>
            <p class="big-txt"><b>@brainchildfestival.co.uk</b></p>
				</div>
			
			<h2 class="innerheader gap">Keep in touch</h2>
			<p class="big-txt">Join the mailing list and we'll send you the occasional update on events and opportunities.</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//brainchildfestival.us5.list-manage.com/subscribe/post?u=68b0d29fc481af44dddb8cd30&amp;id=0797da504b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address </label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name </label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
						</div>
						<div class="mc-field-group">
							<label for="mce-LNAME">Last Name </label>
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_68b0d29fc481af44dddb8cd30_0797da504b" tabindex="-1" value=""></div>
						    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
					</form>
				</div>
			<!--End mc_embed_signup-->

			<ul class="social">
				<li><a class="social__facebook" target="_blank" href="https://www.facebook.com/BrainchildArts">Facebook</a></li>
				<li><a class="social__twitter" title='@brainchildfest' target="_blank" href="https://twitter.com/BrainchildFest">Twitter</a></li>
			</ul>

			<p>Video by <a target="_blank" href='https://www.awtstudios.com'>Alex Thomson</a></p>
			<p>Illustrations by <a target="_blank" href='https://www.facebook.com/werdnaa'>Werdna</a></p>
      <p>Development by Jerome Toole</p>
			<p>&copy; 2014 Brainchild Festival</p>

		</section>

		<!-- Ticket Tailor Buy Tickets Tab. Paste this in to your website code anywhere. -->
		<div class="tt-widget-page-tab"><a class="gettickets-btn tt-widget-tab-button tt-widget-tab-button-bottom-right" href="#tickets">Get your ticket</a></div>
		<!-- End of Ticket Tailor Buy Tickets Tab -->

		<script src="scripts.min.js"></script>
	</body>
</html>
