---
title: 'YES'
events:
-
  name: "Brainchild Festival 2012 Launch"
  image: "bc2012launch.jpg"
  past: true
  date: "13/06/2012"
  location: "Camden Proud Galleries (South Gallery)"
  bio: "Back when Sarah, Joey and Marina were still doing Frozen Thumb gigs at Proud Galleries, we decided to combine our June night with the launch for the festival. With lava lamps and some very special performances, and some slightly dodgy compering from us on the mic, it was a smashing start for what was still largely our festival experiment.</p><p>Featuring music from Jamie Isaac, PALMISTRY, Cholombian, comedy and poetry by Sean Mahoney and Bridget Minamore, finished with dancing courtesy of Frozen Thumb DJs. "
-
  name: "The Huddle Up: Brainchild 2013 Launch"
  image: "huddleup1.jpg"
  past: true
  date: "21/02/13"
  location: "The Bussey Building, SW15"
  bio: "These beautiful huddle ups were the first manifestations of our creative partnership with STEEZ.</p><p>Together we transformed the second floor of the Bussey Building into a forest. Having procured some furniture from freecycle, and some spare bits of trees from local tree-surgeons, we were ready to launch the 2013 festival.</p><p>Whilst the illustrators Josie Tucker, Gaurab Thakali and Lu’ay Sami drew the mural into life, and we all ate Jasper’s delicious toasties, the energy of the show was becoming more and more infectious in the hands of MVC + Sumochief (then “Yancey Boys”), Nomad Soul Collective, Off Key He-Man and all the performers who were part of the live jam at the end of the night."
-
  name: "The Huddle Up No.2"
  image: "huddleup2.jpg"
  past: true
  date: "20/04/13"
  location: "The Bussey Building, SW15"
  bio: "Number two in our collaborative nights with Steez. This one saw us conduct some astral explorations, taking on the stimulus of ‘SPACE’. It was our aim to create an environment that was drawn together by the community's creative minds and artwork from all disciplines. All were encouraged to participate in the jam, which was fantastic and night ended up running well into the small hours.</p><p>Featuring live music and words from Tanya Louise Violet, Thidius, The Energy, and Southpaw, electronic music from Ben Hayes, Jackal Wyfreid, Maxwell Owin and Loxton, with artwork, films and installations from Kingston students including Josie Tucker and Lily Bonesso."
-
  name: "Mindbaby"
  image: "mindbaby.jpg"
  past: true
  date: "25/05/2013"
  location: "The Amersham Arms, New Cross"
  bio: "In an effort to raise last minute funds for the festival, we were very kindly given the Amersham Arms space pro bono. During the daytime, we let the music play and the incense burn whilst exhibiting prints and artwork by Brainchild affiliated artists. By midnight the place was buzzing and full of drunken people posing for photos with painted fruit (which had begun the day as part of an installation).</p><p>Featuring live music from Haraket, Ben Hauke, Maxwell Owin + Jerkcurb, plus films by Whirlygig Cinema, poetry from Slam the Poet, James Massiah and Jack Rooke, plus Sophie Gordon’s will-blow-your-mind-amazing cakes and a jumble sale."
-
  name: "Brainchild Relaunch"
  image: "relaunch.jpg"
  past: true
  date: "04/01/2014"
  location: "The Last Refuge Arts Centre, Copeland Park, SW15"
  bio: "After the whole team met up in the September after Brainchild #2, we realised that the festival alone was not enough - we wanted Brainchild to be more than just a three day event and to take on all kinds of projects. So, six months on, in a new and intimate space in Peckham, we held a big party to showcase new ideas and celebrate a new direction.</p><p>We gave people the opportunity to contribute their own projects, mess about with our logo (the wall was littered with various designs) and discuss the future of Brainchild. We had a huge turnout and - with the help of the Full English Kitchen running the bar and food - we jammed until four in the morning."
-
  name: "Brainchild x Bristol"
  image: "bcxbristol.jpg"
  past: true
  date: "09/06/2014"
  location: "Jam Jar, The Old Malthouse, Bristol"
  bio: "Thanks to the inspiration of Pete Wright and Francesco Lo Giudice, we brought Brainchild to Bristol.</p><p>With Fran and Pete both having great ideas and connections for a line-up, we aimed for the night to bring musicians together from different parts of the UK, playing alongside each other, with the chance to play together after their sets into the early hours of the night. We have also asked along some brilliant wordsmiths and poets to bring their rhythms and flows to the music. Despite venue difficulties the night before, it worked out for the best because we ended up hooking up with Jam Jar Collective and their amazing space and giant squid tentacled decorations.</p><p>The night was filled with jamming, brass instruments, quiet moments of intense listening, a poem about the word falafel, and lots and lots of toastie eating (and cheese grating).</p><p>Featuring Harry Baker, Cecil B, Vanessa Kisuule, Amoa Mass, Capua Collective, Felix Indiana, Sumochief, Tamu Massif and James Massiah"
-
  name: "Brainchild x LeeFest"
  image: "brainchildxleefest.jpg"
  past: true
  date: "11/07/2014"
  location: "LeeFest, South London Countryside"
  bio: "Having been so inspired by LeeFest’s similarly homegrown, grassroots story (and their amazing kickstarter campaign!), it was incredibly exciting to get an email from Lee asking for Brainchild to take part in their 2014 program.</p><p>We commissioned two of our favourite artists and architects Louise Colgan and Roma Swords-McDonnell to design and build an interactive installation, and also worked with Jack Rooke from C.A.L.M.’s ‘Save the Male’, to curate a two hour spoken word and comedy set which raised awareness for their fantastic work.</p><p>Indea Barbe-Wilson, Slam the Poet (with Maxwell Owin on live electronics + Oscar Laurence on guitar), Jack Rooke, Ella Woods, Jamie Oliphant, Cecilia Knapp, Antosh Wojcik, Louise Colgan + Roma Swords-McDonnell."
-
  name: "Rich Mix: Story & Sound"
  image: "richmix.jpg"
  past: true
  date: "16/08/2014"
  location: "Rich Mix, E1."
  bio: "We were very excited to be part of Rich Mix’s fantastic Youth Takeover Festival, as it was our last chance before we all turned 22. For our day workshop, we brought in Sophie and Zoe who we’ve been helping to run storyslam workshops in Bristol under the name ‘Speak Easy’. For the whole afternoon we lovingly shared and developed stories made from our real life experience, with the theme of ‘new beginnings’, and ‘ten minutes that changed my life’.</p><p>Then from 7pm, the main space became adorned with lights and played host to film, original composition, poetry, storytelling and live music. And it was all free entry.</p><p>Featuring Jack Attewell’s original composition on the hand-pan to Carmen Bromfield Mason’s short film, ‘Marionette’, stories told by audience members and creative-writer Tom Sanders, poems told by Zia Ahmed + Alice Walker, live music performed by Lilli Unwin/HYLA and Oscar Laurence."
-
  name: "Cityscapes"
  image: "cityscapes.jpg"
  past: true
  date: "16/11/2014"
  location: "Passing Clouds, E8."
  bio: "This was a night of debuts, our first collaboration with Karma Klub, first time to Passing Clouds and first charity fundraiser.</p><p>We focused on raising money for the Homeless Film Festival, a charity dedicated to empowering the homeless through filmmaking. The night was made up of work that explored our relationship with the city, challenging its glamour and its stereotypes. Thanks to the incredible standard of the submissions we received, the programme kept everyone transfixed and cosy in every nook and corner of the room.</p><p>Featuring films by Phoebe Boswell, Tuuli Manninen, Jez Pennington, Alex Horfshall, Denisha Anderson & Amy Rose, Alex Thompson, Chima Nsoedo & Belinda Zhawi,  Maxwell Owin & Sam, music by Jacob Allen, poems by Bridget Minamore, o, James Massiah, and Hector Aponysus, artwork by Amy Glover, Alice Bloomfield, Jerome Toole, Flora Hastings, Joe Richardson, Sean Rohr and Luke Wright."
-
  name: "2015 Festival Launch"
  image: "bc2015launch.jpg"
  past: true
  date: "03/01/2015"
  location: "Total Refreshment Centre"
  bio: "<p>On the 10th-12th of July 2015, the third Brainchild Festival will be bursting into life. So to start the new year, we launched the festival with a massive celebration and get together at Total Refreshment Centre in Dalston.</p><p>Made from discarded Christmas trees and other strange foliage, we made a small, indoor forest and asked everyone to write down ideas for the festival which were then hung on a washing line between the trees.</p><p>Over the night, the focus was on the Nubya Garcia/Sheila Maurice-Grey Quintet, Nomad Soul + James Massiah and Parshmaune, who had all made original compositions for the night, feauturing choreography, installations, poetry and re-scoring of films. The quality was breathtaking and marked a real turning point for Brainchild, having worked with these artists for months in preparation for the gig.</p><p>In between sets, poets Brother Portrait, Paul Cree, Talia Randall and Cecilia Knapp contributed beautiful stories, poems and harmonies new and old, and after the main sets were over, the stage opened up to artists and audience alik for the Steez Cafe jam. Musicians and poets from all backgrounds playing together darting from rhythm to rhythm in time with one another - it was the perfect end to the live part of the night, as we then turned to DJs Jackal Wyfreid and Maxwell Owin to help us dance the rest of the night away.</p><p>As welll as being the launch for the festival, this event was the first in a series of commissioned, interdisciplinary shows we will be doing in collaboration with Steez this year.</p><p>Thank you to all the artists who took part, and to Roma and Louise and to Nadjib le Fleurier for their wonderful installations.</p>"
friends:
-
  name: "Steez"
  image: "steez.jpg"
  bio: "Steez is something very special and dear to our hearts. A space where anyone can feel free to create, and a network of appreciative, bright and forward thinking people. Every month now, hundreds of people come together to share their love of performing, writing, composing or listening. It’s been a big journey since the days in the Honor Oak pub, but even then, there something was special and the pub was always packed. Back then Steez was run by Southpaw, and although they had played the first Brainchild and brought along a short program of poetry, it wasn’t until our second festival that we fully decided to collaborate and bring these two projects together. It was the perfect fit.</p><p>Luke Newman came on board to do music programming with us in a big way. We had the idea to make the Steez Cafe, a physical space at the festival to bring forth collaboration and that openness to connect with people. The Steez Cafe appeared again at our relaunch in January 2014, and will be back even stronger than before at the 2015 festival.</p><p>From our chance meeting with Luke at the (since deceased) Cable nightclub in 2011, it feels almost surreal to look at how much has happened, and how inspirational the partnership has proven to be. At the moment, we are working together to launch a whole new interdisciplinary, commission-based project which will manifest in 2015, and continue to support each other in any way that we can."
  website: "http://welcometosteez.com"
-
  name: "Whirlygig Cinema"
  image: "whirlygig.jpg"
  bio: "Whirlygig Cinema is a lovely organisation headed up by Katie Steed, dedicated to promoting emerging film talent through interesting and interactive events. It is their work with The Cabinet of Living Cinema, creating and performing new soundtracks to short films, that first attracted us to Whirlygig. The films and their re-imagined scores never failed to leave us a little awe-struck.</p><p>They have been very generous to us, kindly pointing us in the direction of filmmakers to work with for our events, and even selecting short programs of films for us to play at our events, notably the re-launch in January 2014 and Mindbaby, in May 2013. Our connection with Whirlygig puts us in better stead for developing innovative ways of incorporating film and cinema into the festival, and for this we thank them very much!"
  website: "http://whirlygigcinema.com/"
-
  name: "Save the Male"
  image: "savemale.jpg"
  bio: "Headed up by two of our favourite people, Cecilia Knapp and Jack Rooke, Save The Male is a comedy, poetry and music showcase raising awareness of the male suicide prevention charity C.A.L.M. (Campaign Against Living Miserably). Together they have taken Save the Male to many festivals, from Brainchild to Bestival. Our biggest collaboration to date was for our slot at LeeFest, where amongst the laughter and the head-bopping, more people were made aware of the fantastic work that C.A.L.M do, and we hopefully helped to break down a weensy bit more of the stigma that can exist around mental health. </p><p>Like us, their work hopes to empower and motivate people through creativity, restoring it as a human resource to combat negative mindsets and connect with other people. We cannot wait to work with them more in the future."
  website: "http://savethemale.tumblr.com/"
-
  name: "The Jam Jar Collective"
  image: "jjcoll.jpg"
  bio: "For any Bristol based people who like giant colourful chameleons, live music, good food and workshops - Jam Jar Collective, based at The Old Malt House, is a loving home.</p><p>Our first event in Bristol had some very last minute venue changes, and these guys kindly took us in. It turned out to be the best thing that could have happened because they’re all about what we’re about, and their space is quite phenomenal, including a performance area, kitchen, recording studio and rehearsal rooms. We hope to return there for our future Bristol plans, and to have them feature at Brainchild Festival 2015 in a big way."
  website: "http://thejamjarcollective.com/"
-
  name: "LeeFest"
  image: "leefest.jpg"
  bio: "We were incredibly excited we got an email from Lee Denny asking us to be part of LeeFest 2014. It was great to see that a festival as well-established and renowned as LeeFest had remained so friendly and so humble. Not only has their non-corporate ethos (demonstrated beautifully by their fantastic kickstarter campaign and ‘Campfire Cabinet’) become a landmark of inspiration for us, but we’ve also been impressed by their drive to work with so many different arts organisations from across different disciplines.</p><p>For 2014, we brought an installation named ‘The Pavillion’, made by Louise Colgan and Roma Swords McDonnell, and a two hour set to the Clocktower stage, which we curated with Save the Male. More collaborative projects between us two festivals are almost certainly going to be emerging next year. "
  website: "http://leefest.org.uk"
-
  name: "Poejazzi"
  image: "poejazzi.jpg"
  bio: "The love that Charlotte and Josh have for finding and promoting new poems and music is infectious. Their ambition and their dedication to the cause have been real inspirations to us. We’ve been incredibly lucky to have their support with Brainchild, whether that’s been with marketing, or easing event stress, they have been continuously generous.</p><p>Josh’s vast array of projects in music and poetry, including Benin City (our 2013 Sunday headliners), Hugh, LV, Paper Tiger, and his solo spoken word performances, are quite phenomenal, and we always hope to keep them involved with the festival.</p><p>Perhaps the most special thing to come out of our relationship to date is the Howl 2.0 show, working with young poets (including James Massiah, Jack Rooke, Cecilia Knapp, Rosie Knight, Kareem Parkins Brown and Dauda Ladejobi) to re-imagine Ginsberg’s unforgettable poem, which was debuted at our 2013 festival."
  website: "http://poejazzi.com"
-
  name: "Speak Easy"
  image: "speakeasy.jpg"
  bio: "Speak Easy is a project dear to our hearts. It was inspired by a night called ‘The Moth’ in New York, and essentially provides opportunities to develop real life experiences into performable stories. People have been telling stories since the beginning of time, and although we all think we’re good listeners, it’s remarkable what giving someone the space, an engaged audience, and five, uninterrupted minutes, can create.</p><p>Through the nights Sophie and Zoe have done with Speak Easy in Bristol, and at our Rich Mix event in August, a growing number of people are telling stories and transforming moving, difficult, poignant or beautiful parts of their past into something shared and appreciated by many."
  website: "https://facebook.com/SpeakEasyStorySlam"
-
  name: "Full English Kitchen"
  image: "fek.jpg"
  bio: "After a total chance meeting of the wonderful Jacob Davey in June 2013, he very soon fell into place as our bar manager at the festival. His sense of humour and magnetic personality almost certainly played a big part in the buzz around the bar that year, and in turn, to the general levels of insobriety amongst the festival.</p><p>Next thing we knew, he and two other young fellas called Mike and Chris had begun an enterprise called Full English Kitchen, specialising in fantastic, locally sourced food, and amazing cocktails made from home-grown syrup.</p><p>Their hard work at our Re:Launch in January 2014 helped hugely to make the event the success it was, and we cannot wait to have them more involved with the food at the festival."
  website: "https://facebook.com/fullenglishkitchen"
-
  name: "The Elektrik Cave"
  image: "elktrkcave.jpg"
  bio: "Ever since we crossed paths through courses at the Roundhouse, Erica, founder and presenter of the Elektrik Cave radio show, has been an unceasing support for Brainchild. Through our shared love of hip-hop, poetry, jazz and electronic music, she came to interview many of the musicians from our 2013 lineup on her radio show, and even made an hour-long Brainchild Special in the lead up to the festival.</p><p>Erica has also spread her expertise further than the radio-waves and prompted us to set up Brainchild TV, conducting interviews with artists and crew over the 2013 festival and helping to get our first mini-documentary film, about Slam the Poet, off the ground. We know no other homegrown radio show with smoother or more vibrant playlists, or beautiful presenter."
  website: "http://elektrikcave.wordpress.com/"
-
  name: "Karma Klub"
  image: "karmaklub.jpg"
  bio: "This amazing bunch of LSE and Kings College students have run parties in aid of a load of different charities, including Hostage UK and the Helen Bamber Foundation. They are a team who we have great admiration for, and whose dedication is really remarkable. Like us, they want to explore the ways that art can bring social issues into new light, and we were very happy to have collaborated with them on ‘Cityscapes’, a fundraiser for the Homeless Film Festival."
  website: "https://facebook.com/kaaarmaklub"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Brainchild Festival 2015</title>
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/favicon-152.png">
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<meta name="description" content="Brainchild Festival is a 3-day, multi-arts festival. 10-12 July 2015">
		<meta property="og:site_name" content="Brainchild Festival"/>
		<meta property="og:image" content="./img/favicons/favicon-152.png">
		<meta property="og:url" content="http://www.brainchildarts.co.uk/"/>
		<meta name="twitter:creator" value="@BrainchildFest" />
		<meta property="og:description" content="Brainchild Festival is a 3-day, multi-arts festival. 10-12 July 2015" />
		<script src="./modernizr.custom.js"></script>
		<link rel="stylesheet" href="./style.min.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46178608-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<header class="site-header">
			<video id="video_background" class="billboard headervideo" preload="auto" autoplay="autoplay" loop="loop" poster="./img/background/video-poster.jpg">
				<source src="./video/bc-highlights-mute.mp4" type="video/mp4">
			</video>
			<img class="video-img billboard" src="/img/background/video-poster.jpg">
 			<div class="splash">
				<h1 class="logo">Brainchild</h1>
				<p>10-12 July 2015</p>
				<div class="site-nav-wrap">
					<nav class="site-nav">
						<a href="#about">About</a>//
						<a href="#lineup">Lineup</a>//
						<a href="#events">Events</a>//
						<a href="#friends">Friends</a>//
						<a href="#gallery">Gallery</a>//
						<a href="#getinvolved">Get Involved</a>
					</nav>
				</div>
			</div>
		</header>
		<section id="about" class="inner-wrap">
			<div class="tabs" id="tabs">
				<ul class="tabs-ul about-tabs">
					<li class="tab" id="default-tab"><a href="#story">Story</a></li>
					<li class="tab default-tab"><a href="#manifesto">Manifesto</a></li>
					<li class="tab"><a href="#team">Team</a></li>
				</ul>

				<div id="manifesto">
						<p class="big-txt">Welcome to Brainchild, our weekend festival with collaboration and experimentation at its heart. We are dedicated to sharing ideas and developing creativity, with a love of art and thinking from all disciplines. We want to bring your ideas and stories to life within the boundless and imaginative space of our festival.</p>

					<div class="columns">
						<p>We started this with a belief that an enormous amount of good can come out of a weekend full of performing arts, talking, dancing and meeting new friends.</p>

						<p>Run entirely by volunteers, everybody mucks in dedicating long, hard hours to build an intimate community space including four stages, installations, camping area and bar, all beautifully decorated by resident artists.</p>

						<p>Our work aims to:</p>
							<ul>
								<li>Develop creativity through participation and collaboration.</li>
								<li>Engage with progressive ideas from any discipline.</li>
								<li>Share visions for a more sustainable and compassionate society.</li>
								<li>Explore the creative process, not just the finished product.</li>
								<li>Build a useful network for artists and individuals to work together beyond the festival.</li>
							</ul>

						<p>We see Brainchild as a fantastic opportunity for people to try out new things, find inspiration and connect with others. Everyone camps together, and we try to blur the divisions between audiences and performers as far as possible.</p>

						<p>We are now building momentum for our third festival; we're excited for our best event yet. Whether it&rsquo;s through jamming at the Steez Cafe, taking part in open-mics, making installations or volunteering as part of the build/break team, our events are full of opportunities and we can&rsquo;t wait to meet everyone who&rsquo;ll be part of it. </p>
					</div>
				</div>

				<div id="team" class="columns">
						<p>Brainchild is run by a team of passionate volunteers. Over the last two festivals, both artists and organisers have been incredibly generous and enthusiastic about sharing their work and time. Whether it&rsquo;s driving vans, making zines, assembling fencing, lending kit, spending endless hours on photoshop, flyering or spreading the love - it's an almighty team effort.</p>

						<p>The management and festival production is mainly undertaken by Marina Blake, Jerome Toole, Joey Valiunas, Rosie Skan, Isabel Adomakoh-Young, Zoe Hunter Gordon and Sarah Wilson. The bulk of the programming is led by Luke Newman (music), Bridget Minamore (poetry), Zoe + Rosie (theatre), Lily Bonesso (installations), Louise Colgan (dance music), Georgia Spencer-Davison (films) and Jerome + Marina (music, talks, workshops and other projects).</p>

						<p>Great bundles of thanks and credit must also go out to a whole host of individuals who&rsquo;ve contributed in a big, unquantifiable way over time. Thank you Ellen Spence, Sanjay Poyzer, Ed Ive, Erica McKoy, Phoebe Douglas, Rachel Hannah, Rachel Tookey, Robbie Wojciechowski, Tom Benn, Joel Chima (Crack In The Road), Andrew Hulme (Werdna), Josie Tucker and Joe Melhuish for their support in marketing, programming, film production, artwork and more.
				</div>

				<div id="story" class="columns">
					<p>Brainchild set out to connect people in a way that larger festivals can't, nurturing collaboration on a personal level. We started planning the first festival in December 2011, when, amidst endless arts cuts, we wanted to show each other that realising our creative ambitions was still possible. Within six months we managed it, pulling together a fantastic program of talks, workshops, music and poetry on an incredibly shoe-string budget. What made it so special was not only the intimacy but the openness of the festival process, both online and over the weekend itself. Most of us were still teenagers at the shallow end of a learning curve, but the support we received from our artists and audience turned the event into something far bigger than ourselves.</p>

					<p>For our second festival, we constructed a temporary world in a sunny field where for 700 people, enthusiasm, creativity and conversation seemed to reverberate everywhere. The event was strengthened by working with some other groups who shared our aims. We worked closely with Steez, the (then) open mic-night in Honor Oak which led to a new space in the bar for improvised and spontaneous collaboration. It was an unforgettable, incredibly sun-burnt weekend, and we could all sense that a tangible community was taking shape around this project.</p>

					<p>Brainchild continues to thrive because of the love and investment of all who attend. It's been exciting to see the legacy of many collaborations and projects that have taken root there. Having had to miss a year to finish our various degrees, we are now working on Brainchild Festival #3, in July 2015, and cannot wait to meet all the exciting people who will be part of it.</p>
				</div>
			</div>

		</section>
		<section id="lineup">
			<h2>Lineup</h2>
			<div class="tabs" id="tabs">
				<ul class="tabs-ul">
					<li class="tab default-tab"><a href="#fest2015">2015</a></li>
					<li class="tab"><a href="#fest2013">2013</a></li>
					<li class="tab"><a href="#fest2012">2012</a></li>
				</ul>
				<div id="fest2015" class="lineup-image">
					<p class="big-txt">Now is the time to get in touch with ideas for the 2015 festival. Whether you're interested in performing, decorating, leading workshops or conga lines - we'd love to hear from you. Check our Get Involved section to find out more, and stay tuned to our <a href="https://fb.com/BrainchildArts">Facebook page</a> and emails for details of opportunities and lineup releases.</p>
				</div>

				<div id="fest2013" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc13front.jpg" alt="Brainchild 2013 Poster">
						<img src="img/contents/bc13back.jpg" alt="Brainchild 2013 Poster">
					</div>
				</div>

				<div id="fest2012" class="lineup-image">
					<div class="posters">
						<img src="img/contents/bc12poster.jpg" alt="Brainchild 2012 Poster">
					</div>
				</div>
			</div>

		</section>
		<section id="events">
			<h2>Events</h2>
				<div class="tiles">
					{{#each events}}
						<div class="tile" style="background-image: url(img/contents/{{image}})" data-img="img/contents/{{image}}" data-title="{{name}}" data-desc="{{bio}}">
							<a href="#">
								<h3 class="tile__heading">{{name}}</h3>
							</a>
						</div>
					{{/each}}
				</div> 
		</section>
		<section id="friends">
			<h2>Friends</h2>
			<div class="tiles">
			{{#each friends}}
				<div class="tile" style="background-image: url(img/contents/{{image}})" data-img="img/contents/{{image}}" data-title="{{name}}" data-desc="{{bio}}" data-link="{{website}}">
					<a href="#">
						<h3 class="tile__heading">{{name}}</h3>
					</a>
				</div>
			{{/each}}
			</div>
		</section>
		<section id="gallery" class="gallery">
			<h2>Gallery</h2>
			<ul class="bxslider">
			  <li><img src="img/gallery/1.jpg" alt="" title="Brainchildren, 2013"></li>
			  <li><img src="img/gallery/2.jpg" alt="" title="Singing Workshop, 2013"></li>
			  <li><img src="img/gallery/3.jpg" alt="" title="The &apos;The Hive&apos; Installation, 2013"></li>
			  <li><img src="img/gallery/4.jpg" alt="" title="Illustrating The Shack, 2013"></li>
			  <li><img src="img/gallery/5.jpg" alt="" title="Dancing at The Shack"></li>
			  <li><img src="img/gallery/6.jpg" alt="" title="My Panda Shall Fly, 2013"></li>
			  <li><img src="img/gallery/7.jpg" alt="" title="Spoken Word at The Forum, 2013"></li>
			  <li><img src="img/gallery/8.jpg" alt="" title="Main Stage, 2013"></li>
			  <li><img src="img/gallery/9.jpg" alt="" title="Brainchildren"></li>
			  <li><img src="img/gallery/10.jpg" alt="" title="The Cave, 2013"></li>
			  <li><img src="img/gallery/11.jpg" alt="" title="Alice Coltrane Ensemble, Steeze Cafe"></li>
			  <li><img src="img/gallery/12.jpg" alt="" title="Open Air Theatre, 2013"></li>
			</ul>
		</section>

		<section id="tickets" class="tickets inner-wrap">
			<h2>Tickets</h2>
			<p class="big-txt">The sooner you buy your tickets, the better we can make the festival.</p>
				<!-- Ticket Tailor Widget. -->
					<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="//www.tickettailor.com/new-order/21378/ad81/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="//www.tickettailor.com/new-order/21378/ad81/ref/website_widget/" data-type="inline" data-inline-minimal="true" data-inline-bg-fill="false"></script></div>
				<!-- End of Ticket Tailor Widget -->
		</section>


		<section id="getinvolved" class="getinvolved inner-wrap">
			<h2>Get Involved</h2>
				</ul>
				<div>
					<p class="big-txt">We are currently on the look out for ideas big and small to take place at the festival. Writers, dancers, musicians, filmmakers, artists, thinkers, teachers, drinks mixers, clothes makers, if you feel inspired to bring something along, email us (names listed below <b>@brainchildfestival.co.uk</b>:
						<ul class="contactslist big-txt">
							<li>Theatre - Zoe</li>
							<li>Installation and artwork - Lily</li>
							<li>Spoken word and talks - Bridget</li>
							<li>Film - Georgia</li>
							<li>Music - Marina</li>
							<li>Traders - Joey</li>
							<li>Volunteering - Tomo</li>
							<li>All other enquiries - Team</li>
				</div>
			
			<h2 class="innerheader gap">Keep in touch</h2>
			<p class="big-txt">Join the mailing list and we'll send you the occasional update on events and opportunities.</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//brainchildfestival.us5.list-manage.com/subscribe/post?u=68b0d29fc481af44dddb8cd30&amp;id=0797da504b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address </label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name </label>
							<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
						</div>
						<div class="mc-field-group">
							<label for="mce-LNAME">Last Name </label>
							<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_68b0d29fc481af44dddb8cd30_0797da504b" tabindex="-1" value=""></div>
						    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
					</form>
				</div>
			<!--End mc_embed_signup-->

			<ul class="social">
				<li><a class="social__facebook" target="_blank" href="https://www.facebook.com/BrainchildArts">Facebook</a></li>
				<li><a class="social__twitter" title='@brainchildfest' target="_blank" href="https://twitter.com/BrainchildFest">Twitter</a></li>
			</ul>

			<p>Video by <a target="_blank" href='https://www.awtstudios.com'>Alex Thomson</a></p>
			<p>Illustrations by <a target="_blank" href='https://www.facebook.com/werdnaa'>Werdna</a></p>
			<p>&copy; 2014 Brainchild Festival</p>

		</section>

		<!-- Ticket Tailor Buy Tickets Tab. Paste this in to your website code anywhere. -->
		<div class="tt-widget-page-tab"><a class="tt-widget-tab-button tt-widget-tab-button-bottom-right" href="#tickets">Buy tickets</a></div>
		<!-- End of Ticket Tailor Buy Tickets Tab -->

		<script src="scripts.min.js"></script>
	</body>
</html>
